#rodape-main{
    display: flex;
    justify-content: space-between;
    background-color: #F3F3F3;
    padding: 2% 5%;
    flex-wrap: wrap;
}
#rodape-main-ul{
    text-decoration: none;
    list-style: none;
    color: #161616;
}

#rodape-main-link{
    text-decoration: none;
    list-style: none;
    color: #161616;
    line-height: 26px;
    font-weight: bold;
}

#rodape-info{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}

#rodape-info-linkIcon{
    list-style: none;
    color: #FBAB16;
    font-weight: bold;
}

#btn{
    width: 100%;
    background-color: #FBAB16;
    color: #F9F9F9;
    padding: 4%;
    border-radius: 10px;
    margin-top: 20px;

}

#input
{
    padding: 12px 16px 14px;
    width: 100%;
    height: 50px;  
    border: 2px solid #F9F9F9;
    border-radius: 10px;
    margin-top: 10px;
}
