/* navbar*/
#nav{
    display: flex;
    background-color: white; 
    justify-content: space-between;
    padding: 2% 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.07);
}

#nav #nav-title-icon{
    color:  #161616;
    text-decoration: none;
    font-weight: bold;
    padding: 2% 3%;
}

#nav #nav-menu-li{
    list-style: none;
    color: #5CA720;
    display: block;
}

#nav #nav-menu-li:hover{
    cursor: pointer
}

#nav #nav-menu-ul{
    display: flex;
    gap: 3em;
}

#nav #nav-menu-li ul{
    display: none;
    padding: 0%;
    position: absolute;
    margin-top: 1rem;
    flex-direction: column;
    background-color: white;
    gap: 2em;
}

#nav #nav-menu-li:hover ul{
    display: flex;
}

#nav #nav-menu-li ul li{
    display:block;
    }

