.table{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.table-tbody{
    text-align: center;
}

.tr{
    border-top: 1px solid;
}